@media only screen and ( max-width: 1200px) {
    .cart {
        padding-left: 100px;
    }
    .clean {
        height: 440px;
    }
    .menu {
        font-size: 16px;
    }
    .quote {
        font-size: 14px;
    }
}

@media only screen and ( max-width: 992px) {
    .title {
        font-size: 50px;
        padding-left: 50px;
        font-weight: 600;
    }
    .suptitle {
        font-size: 20px;
        padding-left: 50px;
    }
    .cart {
        padding-left: 20px;
    }
    .menu {
        font-size: 16px;
    }
    .logo {
        padding-right: 20px;
        margin-left: 50px;
    }
    .quote {
        margin-left: 50px;
        font-size: 14px;
    }
    .call {
        font-size: 14px;
    }
    .number {
        font-size: 14px;
    }
    .clean {
        height: 400px;
    }
}

@media only screen and ( max-width: 768px) {
    .logo {
        margin-left: 30px;
    }
    .title {
        line-height: normal;
        padding-top: 50px;
        padding-left: 30px;
        font-size: 40px;
    }
    .girl {
        margin-left: 70px;
        padding-top: 50px;
    }
    .nav {
        display: flex;
    }
    .imgphone {
        height: 70px;
    }
    .suptitle {
        font-size: 14px;
        padding-left: 30px;
    }
    .menu {
        margin: 0 6px;
    }
    .btn {
        margin-left: 20px;
        font-size: 12px;
    }
    .quote {
        font-size: 12px;
        padding: 20px 30px;
        font-weight: 400;
        margin-left: 30px;
    }
    .call {
        font-size: 9px;
    }
    .number {
        font-size: 12px;
    }
    .clean {
        height: 350px;
    }
}

@media only screen and ( max-width: 480px) {}

@media only screen and ( max-width: 320px) {}