    body{
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-style: normal;
    }

    label {
        display: block;
        margin-top: 20px;
        margin: 5px 0 5px 5px;
        cursor: default;
    }
    
    label.error {
        font-style: italic;
        line-height: 24px;
        font-size: 18px;
        margin-top: 6px;
    }

    iframe{
        margin-top: 50px;
        margin-left: 250px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .text-center{
        text-align: center;
        text-decoration: none;
    }

    .align-items-center{
        align-items: center;
    }

    .relative{
        position: relative;
    }

    .justify-center{
        justify-content: center;
    }

    
    .header {
        padding-top: 30px;
        width: 100%;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100
    }
    
    .header-menu {
        display: flex;
    }
    
    .logo {
        padding-right: 50px;
        margin-left: 110px;
    }
    
    .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
    }
    
    input[type=checkbox] {
        display: none;
    }
    
    .menu {
        display: inline-block;
        margin: 0 15px;
        color: #211F54;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    
    .menu:hover {
        color: #0075FF;
    }
    
    .cart {
        padding-left: 300px;
        color: #211F54;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    
    .btn {
        display: flex;
        margin-left: 50px;
        border-radius: 12px;
        border: #0075FF;
        background: #0075FF;
        height: 30px;
        color: #fff;
        padding: 15px 30px;
        font-size: 16px;
        font-weight: 700;
    }
    
    .btn:hover {
        background: #211F54;
    }
    
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    
    .introtitle {
        display: flex;
    }
    
    .title {
        width: 100%;
        max-width: 500px;
        padding-left: 110px;
        color: #211F54;
        font-weight: 700;
        font-size: 60px;
        line-height: 74px;
        padding-top: 100px;
        clear: none;
    }
    
    .suptitle {
        padding-left: 110px;
        color: #6E7191;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        clear: none;
    }
    
    .girl {
        float: right;
        padding-top: 100px;
        margin-left: 150px;
    }
    
    .clean {
        height: 640px;
    }
    
    .quote {
        display: flex;
        margin-left: 110px;
        border-radius: 12px;
        border: #0075FF;
        background: #0075FF;
        height: 30px;
        color: #fff;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 700;
    }
    
    .quote:hover {
        background: #211F54;
    }
    
    .phone {
        display: flex;
    }
    
    .imgphone {
        height: 92px;
    }
    
    .number {
        font-weight: 700;
        font-size: 23px;
        line-height: 10px;
        color: #211F54;
    }
    
    .call {
        font-weight: 400;
        font-size: 18px;
        line-height: 10px;
        color: #6E7191;
    }

    .section {
        padding: 200px 0;
    }
    
    .section-header {
        width: 100%;
        margin: 0 auto;
    
    }

    .section-title{
        color: #211F54;
        font-weight: 600;
        font-size: 48px;
        line-height: 55px;
    }

    .section-suptitle{
        color: #6E7191;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }

    .service-img{
        display: flex;
        margin-top: 93px;
    }

    .item {
        width: 30%;
        flex: 1 1 0;
        margin-left: 90px;
        margin-right: 50px;

    }

    .item-title{
        color: #211F54;
    }

    .item-suptitle{
        color: #6E7191;
    }

    .button-service{
        display: flex;
        margin-top: 50px;
        
    }

    .btn-service{
         padding: 15px 30px;
         border-radius: 12px;
         font-weight: 400;
         background: #0075FF;
         color: #fff;
         margin-right: 15px;

    }

    .btn-service:hover{
        background:#211F54;
    }

    .btn-explore{
        padding: 15px 30px;
        border-radius: 12px;
        font-weight: 400;
        background: #fff;
        border: 1px solid #6E7191;
        color: #211F54;
        
    }

    .line{
        margin-top: 180px;
        border-bottom: 2px solid #DCDDEB;
        margin-left: 110px;
        margin-right: 110px;
    }

    .reviews-item{
        display: flex;
        margin-top: 25px;
    }
    
    .reviews-name{
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
    }

    .name{
        color: #6E7191;
        font-weight: 400;
        font-size: 16px;
        line-height: 9px;
    }

    .numeric{
        color: #211F54;
        font-weight: 700;
        font-size: 28px;
        line-height: 9px;
    }

    .home-header{
        display: flex;
        margin-top: 100px;
    }

    .home-text{
        margin-left: 110px;
        color: #211F54;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }

    .home-btn{
        padding: 20px 35px;
        border: 1px solid #6E7191;
        border-radius: 12px;
        color:#211F54;
        background: #fff;
        margin-left: 480px;

    }

    .home-container{
        display: flex;
        margin-top: 65px;
    }

    .home-item{
        border: 1px solid #DCDDEB;
        border-radius: 12px;
        padding: 80px 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .home-title{
        color: #211F54;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
    }

    .home-suptitle{
        color: #6E7191;
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
    }

    .container-girl{
        display: flex;
        border: 1px solid #211F54;
        padding: -10px 500px;
        margin-top: 200px;
        margin: 50px;
        border-radius: 12px;
        background: #211F54;
    }

    .girl-text{
        float:right;
        margin-left: 50px;
        margin-top: 120px;
    }

    .girl-title{
        color: #fff;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        margin: 15px 0;
    }

    .girl-suptitle{
        color: #fff;
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
    }

    .girl-btn{
        display: flex;
        margin-top: 30px;
    }

    .girlclian-btn{
        border-radius: 12px;
        padding: 15px 30px;
        background: #0075FF;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }

    .girlclian-btn:hover{
        background: #fff;
        color: #211F54;
    }

    .call2{
        font-weight: 400;
        font-size: 16px;
        color: #fff;
    }

    .number2{
        font-weight: 600;
        line-height: 10px;
        font-size: 24px;
        color: #fff;
    }

    .container-house{
        display: flex;
        margin-top: 100px;
        margin-left: 96px;
    }

    .house-text{
        margin-left: 60px;
    }

    .house-title{
        color: #211F54;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }

    .house-suptitle{
        color: #6E7191;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }

    .container-list{
        display:flex;
    }

    .blok-list{
        display: block;
        line-height: 26px;
    }

    .blok-list2{
        display: block;
        line-height: 30px;
        margin-left: 75px;
    }

    .list{
        display: flex;
    }

    .list-text{
        color: #211F54;
        margin-left: 10px;
        font-weight: 700;
        font-size: 18px;
    }

    .house-btn{
        padding: 26px 38px;
        border-radius: 12px;
        background: #0075FF;
        color: #fff;
    }

    .container-boy{
        display: flex;
        margin-top: 200px;
    }

    .boy-text{
        display: block;
        margin-left: 100px;
    }

    .title-boy{
        color: #211F54;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
    }

    .suptitle-boy{
        color: #6E7191;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }

    .small-title{
        color: #6E7191;
        font-weight: 400;
        font-size: 12px;
        line-height: 30px;
    }

    .boy-list{
        display: flex;
        margin-top: -50px;
    }

    .list-number{
        display: flex;
        margin-right: 58px;
    }

    .l-num{
        color: #211F54;
        font-weight: 700;
        font-size: 54px;
        
    }

    .plus{
        color: #0075FF;
        font-weight: 400;
        font-size: 54px;
       
    }

    .boy-list-text{
        display: flex;
        margin-top: -60px;
    }
    
    .boy-title{
        margin-right: 120px;
    }

    .b-tit{
        color: #6E7191;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        white-space:nowrap;
    }

    .boy-btn{
        padding: 25px 38px;
        border-radius: 12px;
        background: #0075FF;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
    }

    .boy-btn:hover{
        background: #211F54;
    }

     input[type=button],  input[type=submit] {
        margin: 25px auto 0 auto;
        display: block;
        background-color:#1D53BB;
        border: #1D53BB;
        color: #fff;
        font-size: 21px;
        line-height: 18px;
        padding: 20px 30px 15px 30px;
        width: 100%;
        border-radius: 5px;
    }
    
     input[type=tel], input[type=text]  {
        display: block;
        font-size: 18px;
        line-height: 18px;
        border: 2px solid #000;
        color: #1d1d1d;
        background-color: #fff; 
        text-indent: 10px;
        padding: 10px 5px;
        transition: all 200ms ease-in; 
        border-radius: 5px; 
        width: 100%;
    }

    #popup{
        width: 100%;
        height:100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .7);
        z-index: 1000;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        direction: -o-flex;
        display: flex;
        opacity: 0;
        visibility: hidden;
    }

    #popup:target{
        opacity: 1;
        visibility: visible;
    }

    .popup-inner{
        background-color: #fff;
        max-width: 500px;
        padding: 25px;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    #popup:target .popup-inner{
        -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    }

    .close-popup{
        position: absolute;
        right: -10px;
        top: -10px;
        width: 40px;
        height: 40px;
        background-color: #1D53BB;
        color: #fff;
        line-height: 40px;
        border-radius: 50%;
    }

   
    
