    .container {
        width: 100%;
        margin: 0 auto;
    }
    
    .header {
        padding-top: 30px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    
    .header-menu {
        display: flex;
        align-items: center;
    }
    
    .logo {
        padding-right: 50px;
        margin-left: 110px;
    }
    
    .menu {
        display: inline-block;
        margin: 0 15px;
        color: #211F54;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    
    .menu:hover {
        color: #0075FF;
    }
    
    .cart {
        padding-left: 300px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        color: #211F54;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    
    .cart:hover {
        color: #0075FF;
    }
    
    .btn {
        display: flex;
        margin-left: 50px;
        border-radius: 12px;
        border: #0075FF;
        background: #0075FF;
        height: 30px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }
    
    .btn:hover {
        background: #211F54;
    }
    
    .intro {
        position: absolute;
    }
    
    .introtitle {
        display: flex;
        align-items: center;
    }
    
    .title {
        width: 100%;
        max-width: 500px;
        padding-left: 110px;
        color: #211F54;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 74px;
        padding-top: 100px;
        clear: none;
    }
    
    .suptitle {
        padding-left: 110px;
        font-family: 'Roboto', sans-serif;
        color: #6E7191;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        clear: none;
    }
    
    .girl {
        float: right;
        padding-top: 100px;
        margin-left: 150px;
    }
    
    .clean {
        height: 640px;
    }
    
    .quote {
        display: flex;
        margin-left: 110px;
        border-radius: 12px;
        border: #0075FF;
        background: #0075FF;
        height: 30px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        padding: 30px 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
    
    .quote:hover {
        background: #211F54;
    }
    
    .phone {
        display: flex;
        align-items: center;
    }
    
    .imgphone {
        height: 92px;
    }
    
    .number {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 10px;
        color: #211F54;
    }
    
    .call {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 10px;
        color: #6E7191;
    }