    body{
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-style: normal;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .text-center{
        text-align: center;
        text-decoration: none;
    }

    .align-items-center{
        align-items: center;
    }

    .relative{
        position: relative;
    }

    .justify-center{
        justify-content: center;
    }

    
    .header {
        padding-top: 30px;
        width: 100%;
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100
    }
    
    .header-menu {
        display: flex;
    }
    
    .logo {
        padding-right: 50px;
        margin-left: 110px;
    }
    
    .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
    }
    
    input[type=checkbox] {
        display: none;
    }
    
    .menu {
        display: inline-block;
        margin: 0 15px;
        color: #211F54;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    
    .menu:hover {
        color: #0075FF;
    }
    
    .cart {
        padding-left: 300px;
        color: #211F54;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    
    .btn {
        display: flex;
        margin-left: 50px;
        border-radius: 12px;
        border: #0075FF;
        background: #0075FF;
        height: 30px;
        color: #fff;
        padding: 15px 30px;
        font-size: 16px;
        font-weight: 700;
    }
    
    .btn:hover {
        background: #211F54;
    }
    
    .intro {
        position: absolute;
    }
    
    .introtitle {
        display: flex;
    }
    
    .title {
        width: 100%;
        max-width: 500px;
        padding-left: 110px;
        color: #211F54;
        font-weight: 700;
        font-size: 60px;
        line-height: 74px;
        padding-top: 100px;
        clear: none;
    }
    
    .suptitle {
        padding-left: 110px;
        color: #6E7191;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        clear: none;
    }
    
    .girl {
        float: right;
        padding-top: 100px;
        margin-left: 150px;
    }
    
    .clean {
        height: 640px;
    }
    
    .quote {
        display: flex;
        margin-left: 110px;
        border-radius: 12px;
        border: #0075FF;
        background: #0075FF;
        height: 30px;
        color: #fff;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 700;
    }
    
    .quote:hover {
        background: #211F54;
    }
    
    .phone {
        display: flex;
    }
    
    .imgphone {
        height: 92px;
    }
    
    .number {
        font-weight: 700;
        font-size: 23px;
        line-height: 10px;
        color: #211F54;
    }
    
    .call {
        font-weight: 400;
        font-size: 18px;
        line-height: 10px;
        color: #6E7191;
    }
    
    label {
        display: block;
        margin-top: 20px;
        margin: 5px 0 5px 5px;
        cursor: default;
    }
    
    label.error {
        font-style: italic;
        line-height: 24px;
        font-size: 18px;
        margin-top: 6px;
    }
    
     input[type=button],  input[type=submit] {
        margin: 25px auto 0 auto;
        display: block;
        background-color:#1D53BB;
        border: #1D53BB;
        color: #fff;
        font-size: 21px;
        line-height: 18px;
        padding: 20px 30px 15px 30px;
        width: 100%;
        border-radius: 5px;
    }
    
     input[type=tel], input[type=text]  {
        display: block;
        font-size: 18px;
        line-height: 18px;
        border: 2px solid #000;
        color: #1d1d1d;
        background-color: #fff; 
        text-indent: 10px;
        padding: 10px 5px;
        transition: all 200ms ease-in; 
        border-radius: 5px; 
        width: 100%;
    }

    #popup{
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .7);
        z-index: 1000;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        direction: -o-flex;
        display: flex;
        -ms-align-items:center;
        opacity: 0;
        visibility: hidden;
    }

    #popup:target{
        opacity: 1;
        visibility: visible;
    }

    .popup-inner{
        background-color: #fff;
        max-width: 500px;
        padding: 25px;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    #popup:target .popup-inner{
        -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    }

    .close-popup{
        position: absolute;
        right: -10px;
        top: -10px;
        width: 40px;
        height: 40px;
        background-color: #1D53BB;
        color: #fff;
        line-height: 40px;
        border-radius: 50%;
    }

   
    
